    /* Gets fonts from files */
@font-face {
    font-family: HelveticaLight;
    src: url(../fonts/Helvetica_Light.woff);
}

@font-face {
    font-family: LuloClean;
    src: url(../fonts/LuloCleanOneBold.woff);
}

@font-face {
    font-family: AvenirLight;
    src: url(../fonts/Avenir_Light.woff);
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova_Light.woff);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway.woff);
}
