/*Make languages dissapear when the screen is small*/
@media (max-width: 1100px) {
    #languages { display: none; }
}



body {
    margin:0;
    padding:0;
    overflow:hidden;


}

/* Entire Website */
div.outer{
  overflow:auto;
  height:100%;
}

/* Inside outer, everything but the Header to enable scrolling with fixed header*/
div.contain-all{
  position:fixed;
  overflow:auto;
  width:100%;
  height:100%;
  z-index:1;

}

/* Header */
ul.topMenu {
    /*Font*/
    font-family: HelveticaLight;
    font-size: 16px;
    font-weight: bold;

    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 90px;
    background-color: black;

    /*Center*/
    overflow: hidden;
    justify-content: center;
    z-index: 10;



}

/* Header Buttons */
a.menuOptions{
 padding: 26px;
}

/* Header Dropdown Button (Projects) */
a.dropbtn{
 padding: 26px;
}

/* Header Languages Div */
div.languagesDiv{
    float: right;
    padding-right: 50px;
}

/* Header Languages Buttons */
a.languages{
    color: black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 13px;
    margin-bottom:10px;
    font-family: AvenirLight;
    font-weight: lighter;
}

/* Header Languages Hovered */
a.languages:hover{
    color: #F34235;
    background-color: black;
}


li {
    float: left;
}

/* Upper Menu Elements */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 12px;
    text-decoration: none;
}

/* When an element of the upper menu is hovered */
li a:hover, .dropdown:hover .dropbtn {
    color:#F34235;
}

/* When an element of the upper menu is clicked */
#main_nav li.current_link a {
    color:#8B0000;
}

/* Dropdown Background */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Dropdown text */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Hover a dropdown element and it gets red*/
.dropdown-content a:hover {color:#F34235;}

/* Display of the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Logo Home */
a.logoHome{
    /*padding: 5px 200px 0px 400px;*/

    padding: 5px;
}

div.footerDiv{
    background-color: black;
    height: 150px;
    text-align: center;
}



p.textFooter{
    color: white;
    padding: 20px;
    font-family: AvenirLight;


}
