@media (max-width: 1100px) {
  #slides { display: none; }

  .contactDesc{
    display: none;
  }

  .contactInputs{
    width: 100% !important;

  }


}


body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-image: url("../images/working.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


/* Section titles */
h1{
    font-family: LuloClean;
    font-size: 5vw;
    padding-top: 30px;
    padding-bottom: 100px;
    color: white;
}

/* Projects Gallery */
.projects{
    margin: 0 auto;
    width: 60%;
    padding: 10px;

    text-align: center;
}

/* Gallery div */
div.gallery {
    margin: 3px;
    border: none;
    float: left;
    width: 18vw;
}

/* Gallery div hover */
div.gallery:hover {
    opacity: 0.5;
}

/* Gallery images */
div.gallery img {
    width: 100%;
    height: auto;
}

.slideshows{
  /* Width of the images */
  max-width: 4000px;
 position: relative;
 margin: auto;
}

/* Left button Slideshow*/
.left-button{
    background-color: transparent;
    position:absolute;
    top:60%;
    left:0%;
    transform:translate(150%,-50%);
    -ms-transform:translate(-0%,-50%);
}

/* Right button Slideshow*/
.right-button{
    background-color: transparent;
    position:absolute;
    top:60%;
    right:0%;
    transform:translate(-150%,-50%);
    -ms-transform:translate(0%,-50%);

}

/* Slideshow buttons*/
.buttonSlide{
    border:none;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    cursor:pointer;
    white-space:nowrap

}

/* Slideshow buttons hover*/
.buttonSlide:hover{
    opacity: 0.3;
}

/* About */
.about{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding-top: 100px;
    padding-bottom: 80px;
}

/* Contact Box */
div.contactBox{
    width:100%; height:100%;
    display: table;
    padding-bottom: 15  0px;
}

/* Contact Box Background Image */
img.backgroundImg{
    position: absolute;
    height: 1000px;
    z-index: -1;
}

/* Contact */
div.contact {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: black;
    color: white;
    overflow: auto;
    font-family: AvenirLight;
}

/* Contact Title */
h2{
    padding: 10px 0px 80px 0px;
}

/* Contact inputs */
div.contact input{
    border: none;
    font-size:12pt;
    font-family: AvenirLight;
    outline-color: #F34235;

}

/* Contact Description */
div.contact p{
    text-align: justify;
    font-size: 16px;
}

/* Contact Small Inputs (Name/Email) */
.smallInput{
    width: 34.5%;
}

/* Contact Normal Input (Subject) */
.normalInput{
    width: 70%;
}

/* Contact Message Textarea (Message) */
textarea {
    height:213px;
    width: 68%;
    padding-right: 5px;
    font-family: AvenirLight;
    font-size:12pt;
    outline-color: #F34235;
}

/* Contact Description */
div.contactDesc{
    width: 30%;
    float:left;
    padding: 40px 0px 0px 40px;
}

/* Contact Inputs*/
div.contactInputs{
    width: 50%;
    float:right;
}

/* Submit button */
.submit{
    width: 70%;
    height: 40px;
    font-weight:bold;
    color:#F34235;
    background-color: white;
}

/* Submit button Hover*/
.submit:hover{
    color: white;
    background-color: #F34235;
    cursor: pointer;
}

/* Contact Social */
div.social{
    clear:both;
    padding: 100px;
}

/*Website a Buttons*/
a.Buttons{
  text-decoration: none;
  color: black;
}

/* Contact Social Images Hover*/
img.socialButtons:hover{
    background-color: #F34235;
    cursor: pointer;
}
